{% extends 'base.html.twig' %}

{% block title %}   VideoHub     {% endblock %}

{% block body %}
    <div class="container">
        <div class="col">
            <h1 >Welcome to VideoHub</h1>
            <br><br>
            {% for video in videos %}
                <h3>{{ video.title }}</h3>
                <h3>{{ video.url }}</h3>
                <br><br><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
